# Ignore node_modules directory
node_modules

# Ignore development files
.DS_Store
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build artifacts
dist
build

# Ignore test files
coverage

# Ignore editor-specific files
.vscode
.idea
*.sublime-project
*.sublime-workspace

# Ignore logs
logs
*.log